# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
market/dist
market/tmp
market/out-tsc
# Only exists if Bazel was run
market/bazel-out

# dependencies
market/node_modules
market-server/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
market/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
market/.DS_Store
market-server/.DS_Store
market/Thumbs.db
market-server/Thumbs.db
