// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$market-primary: mat-palette($mat-light-blue);
$market-accent: mat-palette($mat-light-green);
$market-warn: mat-palette($mat-red);

$market-theme: mat-light-theme($market-primary, $market-accent, $market-warn);
@include angular-material-theme($market-theme);

//for dark theme
$market-primary-dark: mat-palette($mat-orange);
$market-accent-dark: mat-palette($mat-yellow);
$market-warn-dark: mat-palette($mat-red);

$market-theme-dark: mat-dark-theme($market-primary-dark, $market-accent-dark, $market-warn-dark);
.dark-theme-mode {
    @include angular-material-theme($market-theme-dark);
}
